#--------------------------------------------
# REQUIRED: Google account credentials
#--------------------------------------------

account_file_path = "<FILE_PATH>"
project  = "<YOUR-GOOGLE-PROJECT-NAME>"


#--------------------------------------------------------------------------------------
# Un-comment and provide your preferred values if you wish to overwrite the defaults
#--------------------------------------------------------------------------------------

# gcloud-region      = "us-west1"
# gcloud-zone = "us-west1-a"
# cluster_name = "k8s-test"
# gcp_cluster_count = 1
# linux_admin_username = "ubuntu"
# linux_admin_password = "vault-agent-test-with-k8s"
