# Compiled files
*.tfstate
*.tfstate.*

# Module directory in any sub-folder
**/.terraform

# State file in any sub-folder
**/terraform.tfstate
**/terraform.tfstate.backup

# Terraform Variables
*.tfvars

# SSH Keys
*.pem

*.DS_Store
*.vagrant