<html>
<head></head>
<body>
    <h1>Role ID:</h1>
    <ul><li><%= @role_id %></li></ul>
    <h1>Secret ID:</h1>
    <ul><li><%= @secret_id %></li></ul>
    <h1>AppRole Token:</h1>
    <ul><li><%= @approle_token %></li></ul>
    <h1>Read Our Secrets:</h1>
    <ul><li><%= @app_1_secrets %></li></ul>
</body>
</html>
