[Unit]
Description=springboot
After=syslog.target

[Service]
User=root
Restart=always
ExecStart=/var/springboot/spring-vault-demo-1.0.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
