#----------------------------------------------------------------
#  Required
#----------------------------------------------------------------

# S3 bucket for demo
s3_bucket_name = "my-s3-bucket-name"

# VPC ID in which to create security group(s)
vpc_id = "vpc-123456"

# Subnet ID in which to install
subnet_id = "subnet-123456"

# SSH key name to access EC2 instances
key_name = "my-key-name"

# File path to EC2 SSH key (for Chef provisioner connection)
ec2_pem = "/path/to/EC2/private_key.pem"


#----------------------------------------------------------------
#  Overwrite as necessary
#----------------------------------------------------------------

# AWS region to provision cloud resources
aws_region = "us-east-1"

# All resources will be tagged with this
environment_name = "vault-chef-approle-demo"

# EC2 instance size
instance_type = "t2.micro"

# URL for Vault (open source) zip file
vault_zip_url = "https://releases.hashicorp.com/vault/1.3.0/vault_1.3.0_linux_amd64.zip"

#--------------------
# Chef Server Vars
#--------------------
chef_server_package_url = "https://packages.chef.io/files/stable/chef-server/12.17.15/ubuntu/16.04/chef-server-core_12.17.15-1_amd64.deb"

chef_dk_package_url = "https://packages.chef.io/files/stable/chefdk/2.4.17/ubuntu/16.04/chefdk_2.4.17-1_amd64.deb"

chef_admin = "demo-admin"

chef_admin_password = "pick-a-password"

chef_org = "demo-org"

chef_app_name = "chef-demo-app"
