:root {
  --grey: #6f7682;
  --blue: #1c96fc;
  --blue-alt: #166efd;
  --grey-light: #bac1cc;
  --grey-subtle: #f7f8fa;

  --red: #dc3545;
  --red-alt: #8f1420;
  --green: #28a745;
  --green-alt: #0d5a1e;

  --color-border: var(--grey-light);
  --gradient-blue: linear-gradient(90deg, var(--blue), var(--blue-alt));
  --shadow-list-hover: 0 2px 0 -1px var(--grey-light),
    0 -2px 0 -1px var(--grey-light), 0 0 0 1px var(--grey-light),
    0 8px 4px -4px rgba(10, 10, 10, 0.1), 0 6px 8px -2px rgba(10, 10, 10, 0.05);
}

/* Buttons */

.button {
  background-color: var(--grey-subtle);
  border: 1px solid var(--color-border);
  box-shadow: 0 5px 1px -2px rgba(10, 10, 10, 0.12);
  cursor: pointer;
  font-weight: 600;
  padding: 0 0.8rem;
  transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out;
  height: 40px;
}

.button:focus,
.button:hover {
  box-shadow: 0 7px 3px -2px rgba(0, 0, 0, 0.1);
  text-decoration: underline;
  transform: translateY(-1px);
}

.button:active {
  box-shadow: none;
  transform: translateY(1px);
}

.button--primary {
  background-color: var(--blue);
  border-color: var(--blue-alt);
  color: white;
}

.nobutton {
  all: unset;
  font-size: 1rem;
}

/* Layout */

html,
body {
  min-width: 400px;
  font-family: sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}

.main {
  padding: 15px;
}

/* Header */

.header {
  color: white;
  margin-top: 10px;
  background: var(--gradient-blue);
  padding: 20px;
  position: relative;
  overflow: hidden;
  fill: white;
}

.header::before {
  content: "";
  width: 600px;
  height: 300px;
  background: var(--gradient-blue);
  position: absolute;
  bottom: -140px;
  right: -450px;
  -webkit-transform: skewY(-30deg);
  transform: skewY(-30deg);
  opacity: 0.5;
}

.header__container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

/* Menu */

.menu__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__links .link {
  margin: 5px;
}

/* Notifier */

.notify {
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

.notify__button {
  position: absolute;
  top: 5px;
  right: 7px;
  opacity: 0.5;
  transition: opacity 250ms ease-in-out;
}

.notify__button:hover,
.notify__button:focus,
.notify__button:active {
  opacity: 1;
}

.notify--error {
  background: var(--red);
  border-left: 5px solid var(--red-alt);
}

.notify--success {
  background: var(--green);
  border-left: 5px solid var(--green-alt);
}

.notify--info {
  background: var(--blue);
  border-left: 5px solid var(--blue-alt);
}

#vaultPolicies {
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  background: var(--blue);
  border-left: 5px solid var(--blue-alt);
}

/* Form Fields */

.label {
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 15px;
}

.input {
  border: 1px solid var(--grey);
  border-color: var(--color-border);
  border-radius: 2px;
  box-shadow: 0 4px 1px rgba(10, 10, 10, 0.06) inset;
  box-sizing: border-box;
  color: var(--grey);
  font-size: 1rem;
  height: 40px;
  padding: 0 0.75rem;
  width: 100%;
}

.input:focus {
  color: inherit;
}

/* Type */

.header .title {
  margin: 0;
}

.h1 {
  font-size: 1.5rem;
  font-weight: 100;
}

/* Lists */

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__item {
  position: relative;
}

.list__item.disabled {
  text-decoration: line-through;
  opacity: 0.5;
}

.list__item-button {
  border-bottom: 1px solid var(--color-border);
  padding: 10px 15px;
  transition: box-shadow 250ms ease-in-out;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.list__item-button:focus,
.list__item-button:active,
.list__item-button:hover {
  box-shadow: var(--shadow-list-hover);
}

.list__item.disabled .list__item-button:focus,
.list__item.disabled .list__item-button:active,
.list__item.disabled .list__item-button:hover {
  box-shadow: none;
}

.list__item-text-title {
  text-transform: capitalize;
}

.list__item-text-title::before {
  content: "";
  width: 14px;
  height: 14px;
  margin-right: 3px;
  background: url("icons/key.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;
  opacity: 0.5;
}

.list__item-text-body {
  display: block;
  color: var(--grey);
}

.list__item-actions {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.list__item-actions .button {
  margin: 10px 5px;
  padding: 5px;
  height: auto;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.link--alt {
  opacity: 0.8;
  transition: opacity 250ms ease-in-out;
}

.link--alt:hover,
.link--alt:focus,
.link--alt:target {
  opacity: 1;
}

.link--current {
  text-decoration: inherit;
  opacity: 1;
  cursor: inherit;
}

/* Icons */

.icon {
  width: 20px;
  height: 20px;
}

.icon--inline {
  display: inline-block;
  vertical-align: middle;
}

/* OOCSS */

.gutter {
  margin-bottom: 1rem;
}
