# AWS region and AZs in which to deploy
# default: 'us-east-1'
aws_region = "us-east-1"

# All resources will be tagged with this
# default: 'vault-lambda-extension-demo'
environment_name = "vault-lambda-extension-demo"

# URL for Vault OSS binary
# default: Vault 1.7.2
vault_zip_file = "https://releases.hashicorp.com/vault/1.7.2/vault_1.7.2_linux_amd64.zip"

# Instance size
# default: 't2.micro'
instance_type = "t2.micro"

# DB instance size
# default: 'db.t2.micro'
db_instance_type = "db.t2.micro"
